body,html{
    margin: 0;
    padding: 0;
}
section{
    margin-top:25px;
    margin-bottom:25px;
}
.gameitem{
    margin-top: 15px;
    margin-bottom: 15px;
}
.bigredblock{
    background-color:darkred;
    padding: 50px;
}
.lime-logo{
    display: block;
    width: 150px;
}
.white{
    color:white;
}
.gameinfo span{
    display: block;
}
.red{
    color:darkred;
}
.green{
    color: #82bb37;
}
.big{
    font-size: 72px;
}
.footer small{
    display:block;
}